import { {{inputParamsInterface}} } from '{{resolverPath}}/declarations';
import { {{queryName}}Resolver } from '{{resolverPath}}resolvers/{{queryName}}Resolver';
import { {{entityType}} } from 'src/framework/graphql/responseEntities/{{entityType}}';
import { {{argGqlInputType}} } from 'src/framework/graphql/inputEntities/{{argGqlInputType}}';

/** */
export const {{queryName}} = {
  type: {{entityType}},
  description: '',
  args: {
    inputParams: { type: {{argGqlInputType}} },
  },
  resolve: async (
    _: any,
    { inputParams }: { inputParams: {{inputParamsInterface}} },
    context: ExpressContext,
  ) => {
    // ---Resolver
    const result = await {{queryName}}Resolver(inputParams);

    return result.data;
  },
};
