import {  {{queryName}}Logic } from '../logic/{{queryName}}Logic/{{queryName}}Logic';
import { {{yupSchema}} } from '../validations/{{yupSchema}}';
import { {{inputParamsInterface}} } from '../declarations';
import { yupValidator } from 'src/utils/yupValidator';


/** */
export async function {{queryName}}Resolver(inputParam: {{inputParamsInterface}}): // Type Ex MongoOpResponse<ModCustomProd> 
  {
  // ---Input Validation
  const validInput = await yupValidator(inputParam, {{yupSchema}});
  // ---Logic Implementation
  const result = await {{queryName}}Logic(validInput.data);
  return result;
}
