import { authReqResolver } from 'src/framework/auth/resolvers/authReqResolver';
import { {{queryName}}Resolver } from '{{resolverPath}}resolvers/{{queryName}}Resolver';
import { {{entityType}} } from 'src/framework/graphql/responseEntities/{{entityType}}';
import { ExpressContext } from 'apollo-server-express';

/** */
export const {{queryName}} = {
  type: {{entityType}},
  description: '',
  args: {},
  resolve: async (_: any, _1: any, context: ExpressContext) => {
    // ---Auth Validation
    await authReqResolver(context);

    // ---Resolver
    const result = await {{queryName}}Resolver();

    return result.data;
  },
};
