import { {{queryName}}Resolver } from '{{resolverPath}}resolvers/{{queryName}}Resolver';
import { {{entityType}} } from 'src/framework/graphql/responseEntities/{{entityType}}';

/** */
export const {{queryName}} = {
  type: {{entityType}},
  description: '',
  args: {},
  resolve: async () => {
    // ---Resolver
    const result = await {{queryName}}Resolver();

    return result.data;
  },
};
