import {  {{queryName}}Logic } from '../logic/{{queryName}}Logic/{{queryName}}Logic';
import { } from '../declarations';


/** */
export async function {{queryName}}Resolver(): // Type Ex MongoOpResponse<ModCustomProd> 
  {
  // ---Logic Implementation
  const result = await {{queryName}}Logic(validInput.data);
  return result;
}
